*{
  box-sizing: border-box;
  background: #333;
  color: #f0f7ee;
}

header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  margin: 1rem;
  color: #f0f7ee;
}

.navContainer, .filterContainer, .studentsContainer, .campusesContainer, .studentSort {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0 0 2rem 0;
  text-align: center;
  justify-content: center;
}


.nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  padding: 0;
  color: #ca3c25;
}

.studentsListContainer {
  width: 65%;
  justify-content: center;
}

.createStudentFormContainer {
  width: 35%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}