*{
  box-sizing: border-box;
  background: #333;
  color: #f0f7ee;
}

header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  margin: 1rem;
  color: #f0f7ee;
}

.navContainer, .filterContainer, .studentsContainer, .campusesContainer, .studentSort {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0 0 2rem 0;
  text-align: center;
  justify-content: center;
}

input, textarea {
  background-color: whitesmoke;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  padding: 0;
  color: #ca3c25;
}

.studentsListContainer {
  width: 65%;
  justify-content: center;
}

.studentSort {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.dropContent {
  display: none;
  position: absolulte;
  background-color: #f1f1f1;
  max-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropContent button {
  color: #f0f7ee;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropContent button:hover {
  background-color: #ca3c25;
}

.studentSort:hover .dropContent {
  display: block;
}

.createStudentFormContainer {
  width: 35%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

